<?xml version="1.0"?>
<!--
/**
 * Copyright © 2017 Walk with Magento
 * See COPYING.txt for license details
 */
-->
<!--
/**
 * Free integration between Magento 2 and WordPress
 *
 * @author Ovakimyan Vazgen <vdevx86job@gmail.com>
 * @copyright 2017 Walk with Magento (http://wwm-integrations.in.ua)
 * @license https://opensource.org/licenses/OSL-3.0 Open Software License ("OSL") v. 3.0
 * @copyright 2017 Ovakimyan Vazgen <vdevx86job@gmail.com>
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Wwm\Blog\Cms\WordPress\ThemeInterface" type="Wwm\Blog\Cms\WordPress\Theme"/>
    <type name="Wwm\Blog\Cms\WordPress">
        <arguments>
            <argument name="filterInit" xsi:type="string">muplugins_loaded</argument>
        </arguments>
    </type>
    <type name="Wwm\Blog\Cms\WordPress\Theme">
        <arguments>
            <argument name="textDomain" xsi:type="string">wwm</argument>
            <argument name="defaultFiltersPriority" xsi:type="string">10</argument>
        </arguments>
    </type>
    <type name="Wwm\Blog\Cms\WordPress\FileSystem\Theme\Locator">
        <arguments>
            <argument name="moduleName" xsi:type="string">Wwm_Blog</argument>
        </arguments>
    </type>
</config>
